body {
	text-align:center;
	background-image: url("./images/pokeballbackground.jpg");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

h1 {
	text-align: center;
	text-shadow: 1px 2px blue;
	font-size: 30px;
	font-weight: bold;
	margin-bottom: 30px;
}

h3 {
	margin-top:-20px;
	margin-bottom:-10px;
}

p.audio {
	background-color: #eee;
	padding:5px;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom:0;
	margin-top:0;
}

div.index {
	width: 70%;
	float: left;
	text-align:center;
}

ol.index {
	padding-left:15px;
	text-align:left;
}

form.index{
	padding: 20px;
	text-align:center;
}

form.table{border-top:2px solid black;}

table {
	
	width: 100%;
	border-collapse: collapse;
	border: 2px solid black;
	text-align: center;
	
}

tr:nth-child(odd) {
	background-color: rgba(169,169,169,0.8);
}
tr:nth-child(even) {
	background-color: rgba(255,255,255,0.8);
}

th {
	height: 40px;
	border-bottom: 2px solid black;
}

table img {
	width: 35px;
}

a {
	width: 15%;
	background-color: white;
	float: right;
	padding: 5px;
	margin-top: 10px;
	clear:both;
}
a:hover, a:active {background-color: #ddd;}

.bottom {
	margin-top: 60px;
	text-align: center;
}